<!DOCTYPE html>
<html>
<head>
  <title>Cheeseapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <%= react_component("Navigation") %>
      </div>
      <div class="col-sm-3"> 
        <% if flash[:notice] || flash[:alert] %>
          <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, { class: "flash #{name}", id: "notice" }) %>
          <% end %>
        <% end %>
      </div>
<!--       <div class="col-sm-3">
        <div id="notice" class="notice"><%= notice %></div>
      </div> -->
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
